@import url(https://fonts.googleapis.com/css?family=Oswald:700);

body     {
  background:#231F20;
  text-align:center;
}

h1         {
  color:#FFF;
  font-family:'Oswald';
  font-weight:700;
  position:relative;  
  margin:30px auto;
  text-transform:uppercase;
  width:610px;
}

h1::before  {
    content: ' ';
    background-color: #4A90E2;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute top left;
    border-radius: 200px 0px 0px 200px;
    margin-right: 10px;
}

h1::after   {
    content: ' ';
    background-color: #4A90E2;
    display: inline-block;
    height: 30px;
    width: 30px;
    position: absolute top right;
    border-radius: 0px 200px 200px 0px;
    margin-left: 10px;
}

/* selector voor het linker halve cirkeltje, selector voor het rechter halve cirkeltje {
// gezamelijke eigenschappen van de halve cirkels: 
// - het is Winc blauw ... background:#4A90E2;
// - content is empty string 
// - display... block? Inline-block?
// - aanta px hoog 
// - aantal px breed 
// - absolute positie 
}

selector voor het linker halve cirkeltje {  
// border radius, generator: https://www.cssmatic.com/border-radius 
// Positioneer je halve rondje met left en top
}

selector voor het rechter halve cirkeltje {  
// border radius, generator: https://www.cssmatic.com/border-radius 
// Positioneer je halve rondje met left en top
}
``` */