.background {
    background-color: #1a0000;
    font-family: Deco;
    font-size: larger;
}
.textFooter {
    text-align: center;
    font-size: smaller;
}

/* radio buttons */
.banner {
    background-color: #660000;
    color: #f8f8ff;
    padding: 20px;
}
.footer {
    background-color: #660000;
    color: #f8f8ff;
    padding: 10px;
}
.buttonlist {
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
}
.radiobutton {
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}

/* Logo */
.logo {
    height: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Filmlijst */
.list{
    list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: max-content;
    grid-row-gap: 10px;
}

/* Media Queries */
@media screen and (max-width: 1300px) {
    .list{
        list-style: none;
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: max-content;
        grid-row-gap: 10px;
    }  
}

/* Lettertype */
@font-face {
    font-family: Deco;
    src: url(Mouse_Deco.ttf);
  }